# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
*.iml
.idea/
.idea/*
/captures
.externalNativeBuild/
.cxx/

# OS / Logs
.DS_Store
*.log

# Build outputs
*.apk
*.aab
output-metadata.json

# Keystore files
*.jks
*.keystore

# Google services (Firebase / APIs)
google-services.json

# Profiling
*.hprof