<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineCameraStore">
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".itemonboard"
            android:exported="false" />
        <activity
            android:name=".paymentsuccessfull"
            android:exported="false" />
        <activity
            android:name=".paymentmethod"
            android:exported="false" />
        <activity
            android:name=".cardpayment"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".signin"
            android:exported="false" />
        <activity
            android:name=".rentpage"
            android:exported="false" />
        <activity
            android:name=".buypage"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".fream4"
            android:exported="false" />
        <activity
            android:name=".fream3"
            android:exported="false" />
        <activity
            android:name=".fream2"
            android:exported="false" />
        <activity
            android:name=".Launchscreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>